[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.78.0"
uvicorn = "==0.17.6"
email-validator = "==1.2.1"
google-cloud-spanner = "==3.14.1"
passlib = "==1.7.4"
bcrypt = "==3.2.2"
gunicorn = "==20.1.0"
loguru = "==0.6.0"

[dev-packages]
autopep8 = "*"
black = "*"
ipdb = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[scripts]
server = "uvicorn main:app --reload --host=0.0.0.0"
spanner-cli = "docker-compose exec spanner-cli spanner-cli -p local -i local -d stress-apps"
